@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');

img {
    height:100px;
}
.row{
	display: flex;
	justify-content: space-between;
}
.center{
	justify-content: center;
}
* {
	font-family: 'Roboto', sans-serif;
	border: 0;
	padding: 0;
	margin: 0;
}

html, body {
	background: #001e4f;
}
html {
	height: 100%;
  }
  body {
	min-height: 100%;
  }

body {
	display: flex;
	flex-direction: column;
}

.button {
	padding: 0.5%;
	background-color: #120D1E; 
	border: 1px solid;
	border-radius: 4px; 
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 100%;
	cursor: pointer;
	border-top-color: #7E9DA4;
	border-left-color: #7E9DA4;
	border-bottom-color: #7E9DA4;
	border-right-color: #7E9DA4;
}

.button:not(:last-child) {
  border-right: none; 
}

.button:hover {
  background-color: #7E9DA4;
}

#input_name {
	height:	30px;
}

p {
	color:white;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    color: white;
    padding: 0.5%;
    font-size: 100%;
    border: 1px solid;
	border-radius: 4px; 
    background-color: #120D1E;
    border-top-color: #7E9DA4;
	border-left-color: #7E9DA4;
	border-bottom-color: #7E9DA4;
	border-right-color: #7E9DA4;
    display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: #7E9DA4;
}

.inputfile + label {
	cursor: pointer; 
}
.newClass{
	width: 40vh;
}
#input_name{
    /* width: 26vh; */
}
#nomeiaclassai{
width: 100%
}
.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}
#btnTrain{
	position: absolute;
	top:1vh;
	right: 1vh;
}
.classeCriar {
	/* display: flex; */
	padding:3vh;
	/* border: 1px solid; */
	justify-content: center;
	/* align-items: center; */
	/* flex:1 ; */
	background: #001e4f;	
}
.classeCriar label{
	position: relative;
	color: white;
	width: 100%;
	padding:1vh;
}
.Classes {
	display: flex;
	border: 1px solid;
	justify-content: center;
	align-content: space-between; 
	padding: 1%;
	flex: 5;
	background-color: white;
}

#inputs {
	flex: 1;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: row;
}

.Predição {
	display: flex;
	border-top: 1px solid;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex:1;
}

.item label {
	/* height: 7%; 
	flex: 1;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: row;
	padding: 0.5%; */
	padding: 1vh;
}
.item{
	justify-content: center;
    border: 3px solid;
    border-radius: 15px;
}
#inputs{
	display: flex;
	justify-content: space-around;
}

p {
	font-family: 'Anton', sans-serif;
	font-size: 24px;
	box-sizing: border-box;
	width: 100%;
	border: solid #7E9DA4 1px;
	padding: 5px;
	background: black;
	border-radius: 3px; 
}

span {
	font-family: 'Anton', sans-serif;
}

.folhaPred {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
	visibility: hidden; /* Hidden by default. Visible on click */
	min-width: 250px; /* Set a default minimum width */
	margin-left: -125px; /* Divide value of min-width by 2 */
	background-color: #333; /* Black background color */
	color: #fff; /* White text color */
	text-align: center; /* Centered text */
	border-radius: 2px; /* Rounded borders */
	padding: 16px; /* Padding */
	position: fixed; /* Sit on top of the screen */
	z-index: 1; /* Add a z-index if needed */
	left: 50%; /* Center the snackbar */
	top: 30px; /* 30px from the bottom */
  }
  
  /* Show the snackbar when clicking on a button (class added with JavaScript) */
  #snackbar.show {
	visibility: visible; /* Show the snackbar */
	/* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
	However, delay the fade out process for 2.5 seconds */
	-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
	animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
	from {top: 0; opacity: 0;} 
	to {top: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
	from {top: 0; opacity: 0;}
	to {top: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
	from {top: 30px; opacity: 1;} 
	to {top: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
	from {top: 30px; opacity: 1;}
	to {top: 0; opacity: 0;}
  }
  #predit-apliable{
	overflow: hidden;
	max-height: 0;
	transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
  }
  #predit-apliable.full {
	max-height: 1000px;
	transition: max-height 1s ease-in-out;
  }
  input[type=text] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
  }
  .label-input i{padding: 1vh;}
  .label-input{
	  padding: 1vh;
	  display: flex;
	  justify-content: center
  }
  .predit-apliable{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
  }