<!-- exemplo de tag onde vai o grafico -->
<canvas id="grafico" style="display: block; width: 55px; height: 25px;"></canvas>

<!-- um vetor de json com os dados do grafico (o json tem o mesmo modelo que vai no banco) -->
<script src='./base.js'></script>

<!-- biblioteca para o grafico -->
<script src='./scripts/Chart.js'></script>

<!-- script que eu criei -->
<script src='./imprimirGrafico.js'></script>
<!-- depois a pessoa que fez o front passa o id do componente onde o grafico vai ficar
    e a pessoa que fez o back passa o vetor de json com os dados -->
<script>
    imprimirGrafico("grafico", base_multipla); //exemplo para varias analises juntas
    //imprimirGrafico("grafico", base_unica); //exemplo para apenas uma analises
</script>