body{
  background-image:  linear-gradient(to top, black 280px, transparent ), url(http://st.gde-fon.com/wallpapers_original/406552_listok_svet_makro_1680x1050_www.Gde-Fon.com.jpg);
  
}

.navbar{
  position: relative;
  width: auto;
  height: 65px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background-color: #120D1E;
}

.navbar button {
  position: relative;
  float: right;
  width: 100px;
  margin:  0 5px;
  color: #D8D0C5;
  background-color: #120D1E;
  border-top-color: #7E9DA4;
  border-left-color:  #7E9DA4;
  border-bottom-color: #7E9DA4; 
  border-right-color: #7E9DA4;
}

.navbar button:hover{
  color: #120D1E;
  background-color: #D8D0C5;
}


.cadastro {
  position: relative;
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  background:white;
  padding: 20px 22px;
  border: 1px solid;
  border-top-color: #120D1E;
  border-left-color: #120D1E;
  border-bottom-color: #120D1E;
  border-right-color: #120D1E;
}

.cadastro input, button {
  width: 245px;
  border: 1px solid;
  border-top-color: #7E9DA4;
  border-left-color:  #7E9DA4;
  border-bottom-color: #7E9DA4; 
  border-right-color: #7E9DA4;
  background-repeat: no-repeat;
  padding: 10px;
  font-family: 'Times New Roman', Times, serif;
  color: #120D1E;
  text-shadow: 0 1px 0 rgba(0,0,0,.1);
  margin-bottom: 20px;
}


.cadastro input:focus { background-color: #D8D0C5; }

::-webkit-input-placeholder { color: #7E9DA4;  }
::-moz-placeholder { color: #7E9DA4;  }
:-ms-input-placeholder { color: #7E9DA4;  }

.cadastro button[type=submit] {
  width: 248px;
  margin-bottom: 0;
  color: #D8D0C5;
  letter-spacing: .05em;
  background: #120D1E;
  border-top-color: #D8D0C5;
  border-left-color: #D8D0C5;
  border-bottom-color: #D8D0C5;
  border-right-color: #D8D0C5;
  cursor: pointer;
}

.cadastro button:hover{
  color: #120D1E;
  background-color: #D8D0C5;
  border-top-color: #120D1E;
  border-left-color:  #120D1E;
  border-bottom-color: #120D1E; 
  border-right-color: #120D1E;
}

.cadastro img {
  margin-bottom: 20px;
  position: relative;
  left: 40%; 
}


.login h5 {
  position: relative;
  left: 42%; 

}

.footer{
  background-color: black;
}

.footer p,a {
  color: #D8D0C5;
  font-family: 'Times New Roman', Times, serif;
}

.footer{
  color: #D8D0C5;
}