<body>
  <nav class="navbar navbar-light justify-content-between">
    <img src="/assets/logo.png" height="50px" width="50px">
    <form class="form-inline">
      <button class="btn btn-outline-success my-2 my-sm-0" routerLink="/login">Login</button>
    </form>
  </nav>

<form class="cadastro">

  <img src="/assets/logo.png" height="50px" width="50px">

  <label></label>
  <input [(ngModel)]="model.nome" type="text" name="nome" placeholder="Nome" class="nome">

  <label></label>
  <input [(ngModel)]="model.email" type="text" name="email" placeholder="Email" class="email">
    
  <label></label>
  <input [(ngModel)]="model.password" type="password" name="password" placeholder="Senha" class="pass">

  <label></label>
  <input [(ngModel)]="confirmar_password" type="password" name="confirmar_password" placeholder="Confimar a senha" class="pass">

  <button type="submit" (click)="cadastro()">Cadastrar</button>
    
</form>


<!-- Footer -->
<footer class="footer">
<div class="text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-4 p-4">
          <h2 class="mb-4">Sobre nós</h2>
          <p class="m-0">
            A HyperDeep é um projeto desenvolvido por alunos do curso de 
              big data no agronegócio, buscando soluções com tecnologia hiperespectral.
          </p>
        </div>
        <div class="col-md-4 p-4">
          <h2 class="mb-4">Localização</h2>
          <p>
            Fundação Fatec Pompeia
              <br>São Paulo, Brasil. 
          </p>
        </div>
        <div class="col-md-4 p-4">
          <h2 class="mb-4">Contato</h2>
          <p>
              <a href="mailto:hyperdeep@gmail.com" class="text-white">hyper.deep@hotmail.com</a>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mt-3">
          <p class="text-center text-muted">© Copyright 2018 HyperDeep - Todos os direitos reservados. </p>
        </div>
      </div>
    </div>
  </div>
</footer>