@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow');

* {
	box-sizing: border-box;
}

@keyframes shrinkAnalise {
    from { opacity: 1; }
    to { height: 0; opacity: 0; }
}

@keyframes expandAnalise {
    from { height: 0; opacity: 0; }
    to { opacity: 1; }
}

@keyframes showAnaliseContent {
	0% { opacity: 0; }
	70% { opacity: 0; }
	100% { opacity: 1; }
}

.tela {
	height: 100vh;
	width: 100vw;
	/*padding: 5vh 10vw 5vh 10vw;*/
	background-image: linear-gradient(to top, black 280px, transparent ), url('https://png.pngtree.com/thumb_back/fw800/back_pic/03/68/19/9157b2b060e9adf.jpg');
	background-size: cover;

	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
}

.analiseUpload {
	flex: 1;
	width: 98vw;
	background-color: rgba(89, 92, 96, 0.5);
    border: 0.2em dashed grey;
    border-radius: 0.5em;
    margin: 2vh;

	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	animation: expandAnalise 0.5s ease-in normal forwards;
    transition:all 0.7s;
} .analiseUpload.dragover {
	background-color: #474946;
}

.hiddenCSVInput {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;	
}

.visibleCSVInput, .uploadButton {
	font-family: 'Archivo Narrow', sans-serif;
    background-color: #120D1E;
    padding: 0.5em;
	border-radius: 5px;
	color: #D8D0C5;
    display: inline-block;
	cursor: pointer;
    transition: all 0.3s;
} .visibleCSVInput:hover,
  .uploadButton:hover {
	color: #120D1E;
	background-color: #D8D0C5;
}

.uploadButton {
	display: none;
} .uploadButton.picked {
	display: block;
}

.dragSpan {
	display: block;
} .dragSpan.picked {
	display: none;
}

.analiseContainer {
	flex: 4;
	width: 98vw;
	border: 0.8em solid rgba(152, 167, 214, 0.7);
	background-clip: padding-box;
	border-radius: 0.5em;
    margin: 2vh;
    overflow-y: scroll;
    background-color: rgba(87, 88, 89, 1);
    animation: expandAnalise 0.5s ease-in normal forwards;
    transition: all 0.7s;

	display: flex;
	flex-direction: column;
}

.analise {
	flex: 1;
	min-height: 20%;
	border: 1px rgba(87, 88, 89, 0.3) solid;
	background-image: linear-gradient(-45deg,#120D1E, #D8D0C5);
    transition: all 0.7s, background-color 0.3s;
	cursor: pointer;

	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
} .analise:not(.selected):hover {
	background-color: #474946;
} .analise.expanded:not(.selected) {
	min-height: 0;
	flex: 0;
	pointer-events: none;
}

.analise > h2 {
	font-family: 'Archivo Narrow', sans-serif;
} .analise.expanded:not(.selected) > h2 {
	display: none;
}

.analiseContent {
	display: none;
} .analise.selected > .analiseContent {
	display: flex;
	animation: showAnaliseContent 1s ease-in-out normal forwards
}

.graficos {
	flex: 1;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.graficos > google-chart {
}

.navbar{
	position: relative;
	width: auto;
	height: 65px;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	background-color: #120D1E;
  }
  
  .navbar button {
	position: relative;
	float: right;
	width: 100px;
	margin:  0 5px;
	color: #D8D0C5;
	background-color: #120D1E;
	border-top-color: #7E9DA4;
	border-left-color:  #7E9DA4;
	border-bottom-color: #7E9DA4; 
	border-right-color: #7E9DA4;
  }
  
  .navbar button:hover{
	color: #120D1E;
	background-color: #D8D0C5;
  }

  .footer{
	background-color: black;
  }
  
  .footer p,a {
	color: #D8D0C5;
	font-family: 'Times New Roman', Times, serif;
  }
  
  .footer{
	color: #D8D0C5;
  }