<body>
  <nav class="navbar navbar-light justify-content-between">
    <img src="/assets/logo.png" height="50px" width="50px">
    <form class="form-inline">
      <button class="btn btn-outline-success my-2 my-sm-0" (click)="logout()">Logout</button>
    </form>
  </nav>



<div class="tela" id="tela">
  <div id="idAnaliseUpload" class="analiseUpload">
    <input type="file" class="fileInput" id="CSVInput" name="CSVInput" class="hiddenCSVInput" accept=".csv" (change)="refreshFile($event)"/>
    <label for="CSVInput" class="visibleCSVInput">{{ filename }}</label><span class="dragSpan" id="idDragSpan"> ou arraste-o para cá.</span>
    <button id="idUploadButton" class="uploadButton" type="submit" (click)="newAnalysis()">Enviar</button>
  </div>
  
  <div id="idAnaliseContainer" class="analiseContainer">
    <div *ngFor="let analise of analises | keyvalue" id="talhao_{{analise.key}}" class="analise" (click)="toggleAnalysis(analise.key)">
      <h2>Talhão {{ analise.key }} - {{ analise.value.dataAnalise | date: 'dd/MM/yyyy' }}</h2>
      <div class="analiseContent">

        <div class="graficos">
          <google-chart *ngFor="let chart of charts" class="text-center" style="color:white"
            [title]="chart.title"
            [type]="chart.type"
            [data]="chart.data"
            [columnNames]="chart.columnNames"
            [roles]="chart.roles"
            [options]="chart.options">
          </google-chart>
        </div>

      </div>
    </div>
  </div>
</div>

</body>